<!DOCTYPE html>
<html>
<head>
    <title>Sintaxis HTML</title>
    <header>CARGA DE ARCHIVO .xml</header>
    <style>
        body {
            background: #96DDCC;
        }

        header {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 60px;
            width: 1000px;
            left: 300px;
            top: 100px;
            color: black;
            font-weight: bold;
        }

        #lnombre {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 30px;
            left: 250px;
            top: 250px;
            color: black;
        }

        #Ruta {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            left: 600px;
            width: 600px;
            top: 260px;
            color: black;
        }

        #boton {
            position: absolute;
            left: 700px;
            top: 350px;
            border-radius: 50px;
            background: #D9D950;
            font-size: 30px;
            font-weight: bold;
        }

        #Salir {
            position: absolute;
            left: 730px;
            top: 420px;
            border-radius: 50px;
            background: #D9D950;
            font-size: 30px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form>
        <label id="lnombre">Ruta del archivo .xml:</label>
        <input id="Ruta" type="text" value="" required="" />
    </form>
    <input id="boton" type="submit" value=" CARGAR " />
    <input id="Salir" type="submit" value="SALIR" onclick="location.href='@Url.Action("Index", "Juego")'">
    @using (@Html.BeginForm("upload", "fileUpload", FormMethod.Post,
     new { enctype = "multipart/form-data" }))
    {
        if (TempData["Message"] != null)
        {
            <p style="font-family: Arial; font-size: 16px; font-weight: 200; color: red">@TempData["Message"]</p>
        }
        <table>
        </table>
    }
    @section scripts {
        <script type="text/javascript">
            $('#boton').click(function (e) {
                 $.ajax(
                     {
                         
                         type: 'POST',
                         dataType: 'text',
                         url: '@Url.Action("Leer", "Tablero")',
                         data: { pruta: $("#Ruta").val()},
                         success:
                             function (response) {
                                 var cadena = response.split("&");
                                 if (cadena[0] == "1") {
                                     alert(cadena[1]);
                                     window.location = '@Url.Action("Tablero", "Tablero")';
                                 }
                                 else {
                                     alert("Se ha producido un error al cargar el archivo, intente nuevamente y verifique la estructura del archivo.");

                                 }
                             },
                         error:
                             function (response) {
                                 alert("Error: " + response);
                             }
                     });
            });
        </script>
    }
</body>
</html>