<!DOCTYPE html>
<html>
<head>
    <title>Sintaxis HTML</title>
    <header><label id="header">TORNEO</label></header>

    <style>
        body {
            background: #B4B6B3;
        }

        #header {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 70px;
            left: 600px;
            top: 50px;
            color: black;
            font-weight: bold;
        }

        #CrearTorneo {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 50px;
            color: black;
            top: 150px;
        }

        #nombreTorneo {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 30px;
            color: black;
            top: 240px;
        }

        #lintegrantes {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 30px;
            color: black;
            top: 310px;
        }

        #integrantes {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 20px;
            color: black;
            top: 120px;
            width: 180px;
        }

        #nombre {
            font-family: 'kaushan Script', cursive;
            font-size: 20px;
            position: absolute;
            top: 250px;
            left: 550px;
            width: 180px;
            height: 30px;
        }

        #listado {
            position: absolute;
            top: 200px;
            left: 550px;
            font-size: 20px;
        }

        #Boton {
            position: absolute;
            left: 300px;
            top: 0px;
            border-radius: 50px;
            background: #D9D950;
            font-size: 30px;
            font-weight: bold;
        }

        #unirseTorneo {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 50px;
            color: black;
            top: 390px;
        }

        #nombreTorneoU {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 50px;
            color: black;
            top: 480px;
        }

        #nombreU {
            position: absolute;
            top: 485px;
            left: 550px;
            width: 180px;
            height: 30px;
        }

        #Boton2 {
            position: absolute;
            left: 930px;
            top: 300px;
            border-radius: 50px;
            background: #D9D950;
            font-size: 30px;
            font-weight: bold;
        }
        #cargar {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 50px;
            color: black;
            top: 400px;
        }
        #ruta {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 20px;
            color: black;
            top: 500px;
            left: 170px;
        }
        #bcargar {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            left: 500px;
            top: 500px;
            border-radius: 50px;
            background: #D9D950;
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <label for="nombre" id="CrearTorneo">CREAR UN TORNEO:</label>
    <label id="nombreTorneo">Nombre del Torneo Nuevo:</label>
    <input id="nombre" type="text" required="" />
    <label id="lintegrantes">Número de Integrantes:</label>
    <div id="listado" class="insertar">
        <select id="integrantes" name="integrantes" required="">
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="16">16</option>
        </select>

        <input id="Boton" type="submit" value=" CREAR TORNEO " onclick="empezar()" />
    </div>
    <input id="Boton2" type="submit" value=" SALIR " onclick="location.href='@Url.Action("Index", "Juego")'"/>

    <label id="cargar"> CARGAR TORNEO </label>
    <input id="ruta" type="text" />
    <input id="bcargar" type="button" value="Cargar Archivo" onclick="cargar()"/>
    @section scripts {
        <script type="text/javascript">
            function empezar() {
                var nombre = document.getElementById("nombre").value;
                var integrantes = document.getElementById("integrantes").value;
                if (nombre == "") {
                    alert("Debe ingresar un nombre para el torneo.")
                }
                else {
                    $.ajax(
                    {
                        type: 'POST',
                        dataType: 'text',
                        url: '@Url.Action("NombreTorneo", "Torneo")',
                        data: { nombre: nombre, cantidad: integrantes},
                        success:
                            function (response) {
                                alert(response);
                                 window.location = '@Url.Action("Jugadores", "Torneo")';
                                    },
                            error:
                                function (response) {
                                    alert("Error: " + response);
                                }
                        });
                }
            }

            function cargar() {
                var Ruta = "C:\\Users\\Daniel Chicas\\Desktop\\" + document.getElementById("ruta").value + ".xml";
                var conteoParcial = 1;
                $.ajax(
                    {
                        type: 'POST',
                        dataType: 'text',
                        url: '@Url.Action("Leer", "Torneo")',
                        data: { pruta: Ruta, conteo: conteoParcial },
                        success:
                            function (response) {
                                alert(response);
                                if (response != "El archivo no pudo ser cargado.") {
                                    window.location = '@Url.Action("Contra", "Torneo")';
                                }
                                    },
                            error:
                                function (response) {
                                    alert("Error: " + response);
                                }
                        });
            }

        </script>
    }


</body>


</html>